<div class="overlay-spinner" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="login-container">
  <div class="login-form">
    <h2>שכחתי סיסמה</h2>

    <p-messages
      class="ui-ltr"
      dir="ltr"
      [(value)]="msg"
      [enableService]="false"
    ></p-messages>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <div class="form-item">
          <label for="email">אימייל</label>
          <input
            id="email"
            type="email"
            pInputText
            autocomplete="email"
            formControlName="Email"
          />
        </div>
      </div>

      <div class="btnSubmit">
        <button type="submit" class="button-primary">שליחה</button>
        <button type="button" (click)="backToLogin()" class="button-primary">
          חזרה להתחברות
        </button>
      </div>
    </form>
  </div>

  <div class="left-side">
    <img src="assets/box.png" alt="box" class="box" />
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </div>
</div>