<header>
    <nav class="navbar">
        <!-- <ul class="nav-links">
            <li><a href="#">מי אנחנו</a></li>
            <li><a href="#">שירות לעסקים</a></li>
            <li><a href="#">שירות ומחירים </a></li>
            <li><a href="#">דברו איתנו</a></li>
            <li *ngIf="isRegister">
                <p-menu [model]="menuItems"></p-menu>
            </li>
        </ul> -->
        <p-menubar [model]="menuItems"></p-menubar>

        <div class="content">
            <button class="gray-button" *ngIf="!isRegister" (click)="navigate('register')">הרשמה </button>
            <button class="gray-button" *ngIf="!isRegister" (click)="navigate('login')">התחברות </button>
          <div *ngIf="isRegister" class="user-info">
  <span>שלום, {{ user?.FirstName }} {{ user?.LastName }}</span>                 
  <button class="black-button" (click)="navigate('declaration-main')">הצהרה חדשה ></button>
  <button class="black-button" (click)="navigate('dec-query')">הצהרות שלי ></button>
  <button class="black-button" (click)="logout()">התנתקות</button>
</div>

            <span *ngIf="!isClientAuthorized" class="power-of-attorney-message">
                יש למלא <a href="https://www.gov.il/he/service/power-of-attorney" target="_blank" class="power-of-attorney-link">יפוי כח</a>
                <i class="pi pi-exclamation-circle" style="margin-right: 10px;"></i>
            </span> 
            <!-- <span class="power-of-attorney-message" *ngIf="!isClientAuthorized">יש למלא יפוי כח</span>  -->
        </div>
    </nav>
</header>
<p-messages class="ui-ltr" dir="ltr" [(value)]="msg" [enableService]="false"></p-messages>

<div class="text-section">
    <p>
        רשות המסים השיקה בשנת 2018 מערכת מידע חדשנית - שער עולמי, המאפשרת לשחרר טובין מהמכס הישראלי ללא תהליכים ידניים.
        שינוי זה יוצר הזדמנות נהדרת ליבואן הישראלי לבצע שחרור טובין באופן עצמאי, ובכך להוזיל את עלויות עמלות שחרור
        הטובין באופן משמעותי.
    </p>
    <p>
        מטרת המיזם שלנו היא להנגיש את תהליך שחרור הטובין לכלל הציבור הישראלי (גופים עסקיים ופרטיים), וכמובן להוזיל את
        עלויות שחרור הטובין. התהליך מורכב מ-5 שלבים ברורים, ובסופו תוכלו לקבל התרת מכס ותדפיס הצהרה ישירות לתיבת המייל שלכם.
    </p>
        <button class="black-button">קרא עוד</button>
</div>


<div class="video-section">
    <video class="video" controls>
        <!-- <source src="url.mp4" type="video/mp4"> -->
        הדפדפן שלך אינו תומך בנגן וידאו.
    </video>

    <button *ngIf="isRegister" (click)="navigate('declaration-main')" class="black-button">רוצים להתחיל?</button>
</div>