.general {
  direction: rtl;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  direction: ltr;
  // background-color: #0e0d0f;  
}

.logo {
  // max-width: 100px;  
  height: auto;
  cursor: pointer;
  margin-top: 1%;
  margin-left: 1%;
}

::ng-deep.p-calendar .p-datepicker {
  direction: rtl;
}

::ng-deep.p-fluid .p-button {
  width: auto;
}
body.login-page header {
  display: none !important;
}

body.login-page .general {
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
}
