<form [formGroup]="generalDeclarationForm" class="form">
    <div class="progress-spinner" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <h2 class="form-title title">תהליך הזנת הצהרה</h2>
    <p-confirmDialog></p-confirmDialog>
    <p-messages class="ui-ltr" dir="ltr" [(value)]="msgs1" [enableService]="false"></p-messages>

    <!-- General Information -->
    <p-card>
        <div class="form-group">
            <div class="form-item">
                <label>מזהה יבואן </label>
                <input pInputText formControlName="ImporterID">
            </div>
            <!-- <div class="form-item">
                <label>מספר טלפון</label>
                <input pInputText>
            </div> -->
            <div class="form-item">
                <label for="customsProcess">תהליך מכס</label>
                <p-autoComplete [forceSelection]="true" id="customsProcess" formControlName="GovernmentProcedure"
                    inputId="autocomplete" [suggestions]="filteredCustomsProcess"
                    (completeMethod)="filterCustomsProcess($event)" field="name" [dropdown]="true">
                </p-autoComplete>

            </div>

        </div>

        <!-- Consignment Details -->

        <div formGroupName="Consignments">
            <div class="form-group">
                <div class="form-item">
                    <label>  שנה</label>
                    <input pInputText formControlName="TransportContractDocumentID" (blur)="onCargoIDBlur()">
                </div>
                <div class="form-item">
                    <label> מזהה מטען ראשי </label>
                    <input pInputText formControlName="SecondCargoID" (blur)="onCargoIDBlur()">
                </div>
                <div class="form-item">
                    <label>מזהה מטען פנימי</label>
                    <input pInputText formControlName="ThirdCargoID">
                </div>
            </div>
            <h3>פרטי משלוח</h3>
            <div class="form-group">
                <div class="form-item">
                    <label>ארץ יצוא</label>
                    <p-autoComplete [forceSelection]="true" formControlName="ExportationCountryCode" [required]="true"
                        inputId="autocomplete" [suggestions]="filteredCountryOfExport"
                        (completeMethod)="filterCountryOfExport($event)" field="name" [dropdown]="true"
                        (onSelect)="onExportationCountrySelect($event)"></p-autoComplete>
                </div>

                <div class="form-item">
                    <label> אתר טעינה</label>
                    <p-autoComplete [forceSelection]="true" id="chargingCountry" formControlName="LoadingLocation"
                        inputId="autocomplete" [suggestions]="currentFilteredChargingCountry"
                        (completeMethod)="filterChargingCountry($event)" field="name" [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div class="form-item">
                    <label>אתר פריקה</label>
                    <p-autoComplete [forceSelection]="true" id="unpackingSite" formControlName="UnloadingLocationID"
                        inputId="autocomplete" [suggestions]="filteredUnpackingSite"
                        (completeMethod)="filterUnpackingSite($event)" field="name" [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div class="form-item">
                    <label> תאריך הגעת טובין: </label>
                    <p-calendar formControlName="ArrivalDateTime" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                </div>
            </div>
            <div class="form-group">
                <div class="form-item">
                    <label> סוג מזהה מטען:</label>
                    <p-autoComplete [forceSelection]="true" id="TransportContractDocument_TypeCode"
                        formControlName="TransportContractDocumentTypeCode" inputId="autocomplete"
                        [suggestions]="filteredCargoIDType" (completeMethod)="filterCargoIDType($event)" field="name"
                        [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div class="form-item">
                    <label>תיאור טובין</label>
                    <input pInputText formControlName="CargoDescription">
                </div>
            </div>

        </div>
    </p-card>
    <br />
    <!-- Package Details -->
    <p-card>
        <h3>פירוט חבילות</h3>
        <div class="form-group" formGroupName="ConsignmentPackagesMeasures">
            <div class="form-item">
                <label> כמות</label>
                <input pInputText type="number" formControlName="TotalPackageQuantity">
            </div>
            <div class="form-item">
                <label> משקל </label>
                <input pInputText type="number" formControlName="GrossMassMeasure">
            </div>
        </div>
    </p-card>

    <br />
    <!-- Supplier Invoices -->

    <div formGroupName="SupplierInvoices">
        <p-card>
            <h3>חשבוניות וסחורות</h3>
            <div class="form-group">
                <div class="form-item">
                    <label> מספר חשבונית ספק</label>
                    <input pInputText formControlName="InvoiceNumber">
                </div>
                <div class="form-item">
                    <label>שם ספק</label>
                    <p-autoComplete [forceSelection]="true" id="SupplierID" formControlName="SupplierID"
                        inputId="autocomplete" [suggestions]="filteredSupplierID"
                        (completeMethod)="filterSupplierID($event)" field="name" [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div class="form-item">
                    <label> מטבע חשבון </label>
                    <p-autoComplete formControlName="CurrencyCode" (completeMethod)="filterCurrencyCode($event)"
                        [suggestions]="filteredCurrencyCode" [forceSelection]="true" field="code" [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div class="form-item">
                    <label>תאריך חשבון מכר</label>
                    <p-calendar formControlName="IssueDateTime" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                </div>
            </div>
            <div class="form-group">
                <div class="form-item">
                    <label> ארץ יצוא </label>
                    <p-autoComplete [forceSelection]="true" formControlName="LocationID" class="ng-dirty"
                        inputId="autocomplete" [suggestions]="filteredCountryOfExport"
                        (completeMethod)="filterCountryOfExport($event)" field="name"
                        [dropdown]="true"></p-autoComplete>
                    <!-- <input formControlName="LocationID"> -->
                </div>
                <div class="form-item">
                    <label> תנאי מכר </label>
                    <p-autoComplete [forceSelection]="true" id="TradeTermsConditionCode"
                        formControlName="TradeTermsConditionCode" inputId="autocomplete"
                        [suggestions]="filteredTradeTermsConditionCode"
                        (completeMethod)="filterTradeTermsConditionCode($event)" field="name" [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div class="form-item">
                    <label>סה"כ חשבון </label>
                    <input pInputText formControlName="InvoiceAmount">
                </div>
            </div>
        </p-card>
        <br />
        <div formArrayName="SupplierInvoiceItems">
            <p-card>
                <p-table [value]="SupplierInvoiceItems.controls" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="sCol"></th>
                            <ng-container *ngFor="let col of columns">
                                <th>{{col}}</th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">                      
                        <tr [formGroupName]="rowIndex">
                            <td class="sCol">
                                <button pButton pRipple icon="pi pi-minus" class="p-button-raised p-button-text"
                                    (click)="onDeleteRow(rowData,rowIndex)"></button>
                            </td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" formControlName="ClassificationID">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{SupplierInvoiceItems.controls[rowIndex].get("ClassificationID")?.value}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" formControlName="AmountType">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{SupplierInvoiceItems.controls[rowIndex].get("AmountType")?.value}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" formControlName="CustomsValueAmount">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{SupplierInvoiceItems.controls[rowIndex].get("CustomsValueAmount")?.value}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div>
                                            <p-autoComplete formControlName="OriginCountryCode" [forceSelection]="true"
                                                [suggestions]="filteredCountryOfExport"
                                                (completeMethod)="filterCountryOfExport($event)" field="name"
                                                [dropdown]="true">
                                            </p-autoComplete>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{SupplierInvoiceItems.controls[rowIndex].get("OriginCountryCode")?.value?.name}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td>
                                <button pButton pRipple icon="pi pi-plus" class="p-button-raised p-button-text"
                                    (click)="addNewInvoiceItem()"></button>
                            </td>
                            <td colspan="3"></td>
                            <td>מספר שורות: {{SupplierInvoiceItems.length }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>

    <div class="btns">
        <button [ngClass]="{'disabled':generalDeclarationForm.invalid || checkVersion()}" class="button-primary"
            (click)="saveDeclaration()">המשך</button>
        <button [ngClass]="{'disabled':generalDeclarationForm.invalid }" *ngIf="showBtnCustoms" class="button-primary"
            (click)="sendDeclaration()">שלח למכס</button>
        <!-- <button [ngClass]="{'disabled':generalDeclarationForm.invalid || checkVersion()}" *ngIf="showBtnCustoms" class="button-primary" (click)="sendDeclaration()"  >שלח למכס</button> -->
    </div>

    <div *ngIf="customsError">
        <h3>פירוט תשובת מכס</h3>
        <p>
            סטטוס טיוטא:
            <span [ngClass]="{'highlight-error': customsError, 'highlight-success': !customsError}">
                {{customStatusName()}}
            </span>
        </p>
        <ul>
            <li *ngFor="let error of customsError">
                <strong>{{ error.exeptionTypeField }}</strong> : "{{ error.exeptionDescriptionField }}"
            </li>
        </ul>
    </div>
    <div *ngIf="customsErrorsContent">
        <h3>פירוט תשובת מכס</h3>
        <p>
            סטטוס טיוטא:
            <span [ngClass]="{'highlight-error': customsErrorsContent, 'highlight-success': !customsErrorsContent}">
                {{customStatusName()}}
            </span>
        </p>
        <ul>
            <li *ngFor="let error of customsErrorsContent">
                <strong>{{ error.validationCodeField.valueField }}</strong> : "{{ error.validationCodeField.nameField
                }}"
            </li>
        </ul>
    </div>
    
</form>