<div class="overlay-spinner" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="login-container">
  <div class="login-form">
    <h2>התחברות</h2>
    <p-messages
      class="ui-ltr"
      dir="ltr"
      [(value)]="msg"
      [enableService]="false"
    ></p-messages>

    <form [formGroup]="loginForm">
      <div class="form-group">
        <div class="form-item">
          <label for="email">אימייל </label>
          <input
            #emailInput
            id="email"
            type="email"
            pInputText
            autocomplete="username"
            formControlName="Email"
          />
        </div>
        <div class="form-item password-wrapper">
          <label for="password">סיסמא </label>
          <div class="password-container">
            <input
              #passwordInput
              id="password"
              [type]="showPassword ? 'text' : 'password'"
              pPassword
              [feedback]="false"
              autocomplete="current-password"
              formControlName="Password"
            />

            <i
              class="pi"
              [ngClass]="showPassword ? 'pi-eye' : 'pi-eye-slash'"
              (click)="togglePassword()"
            ></i>
          </div>

          <button
            type="button"
            class="forgot-link"
            (click)="goToForgotPassword()"
          >
            שכחתי סיסמה
          </button>
        </div>
      </div>

<div class="actions-wrapper">
      <div class="btnSubmit">
        <button type="submit" (click)="onSubmit()" class="button-primary">
          התחברות
        </button>
        <button
          type="button"
          (click)="navigateToRegister()"
          class="button-primary"
        >
          הרשמה
        </button>
      </div>
      <div class="remember-me">
        <p-checkbox
          formControlName="RememberMe"
          binary="true"
          inputId="rememberMe"
        ></p-checkbox>

        <label for="rememberMe">השאר אותי מחובר</label>
      </div>
      </div>
      <!-- <button class="btnGoogle" (click)="loginWithGoogle()">
      <button class="btnGoogle" (click)="loginWithGoogle()">
        <i class="pi pi-google google-icon"></i>התחברות באמצעות גוגל
      </button> -->
    </form>
  </div>

  <div class="left-side">
    <img src="assets/box.png" alt="box" class="box" />
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </div>
</div>
