.form-container {
    display: flex;
    justify-content: space-between;
    height: 98vh;
    // width: 100vw;
}

.right-side {
    width: 55%;
    // display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.625rem;
    margin-right: 5%;
    margin-top: 6%;
}

.registrationForm {
    padding-right: 5%;
    padding-left: 5%;
}

.form-group {
    display: flex;
    gap: 3%;
    margin-bottom: 2%;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 4px;
}

// .radioBtn {
//     justify-content: space-between;
// }

.btnSubmit {
    display: flex;
    gap: 2%;
    direction: ltr;
    margin-top: 2%;
    margin-bottom: 1%;
}

.left-side {
    width: 40%;
    background-color: #06F;
    flex-shrink: 0;
    border-radius: 0rem 0rem 12.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.p-password-panel {
    display: none !important;
}

.classification-section {
    width: 65%;
}

::ng-deep .user .p-datatable .p-datatable-thead>tr>th,
::ng-deep .user .p-datatable .p-datatable-tbody>tr>td {
    text-align: right;
}

::ng-deep .user .p-datatable th:nth-child(1),
::ng-deep .user .p-datatable td:nth-child(1) {
    width: 7%;
}

::ng-deep .user .p-datatable th:nth-child(2),
::ng-deep .user .p-datatable td:nth-child(2) {
    width: 30%;
}

::ng-deep .user .p-datatable th:nth-child(3),
::ng-deep .user .p-datatable td:nth-child(3) {
    width: 30%;
}

::ng-deep .user .p-datatable th:nth-child(3),
::ng-deep .user .p-datatable td:nth-child(3) {
    width: 30%;
}

::ng-deep .user .add-btn.p-button.p-button-icon-only {
    width: 1.357rem;
}

::ng-deep .user .add-btn.button-primary {
    background-color: #EC8305;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 17px;
}

::ng-deep .user .p-datatable .p-datatable-tbody>tr>td,
::ng-deep .user .p-datatable .p-datatable-thead>tr>th {
    padding: 0.3rem 0.3rem;
}

::ng-deep .classifications .p-inputtext {
    padding: 0.3px 0.3px;
}