<!-- <p-card> -->
<div class="form">
    <h2 class="form-title title">הרשמה</h2>
    <!-- <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
            <h4>יש לך חשבון? <a href="#" class="p-link">התחבר לחשבון האישי שלך</a></h4>
            <button icon="pi pi-plus" pButton icon="pi pi-times" class="p-button-rounded p-button-text"></button>
        </div> -->
    <!-- <hr /> -->
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="registrationForm">
            <div class="form-group">
                <div class="form-item">
                    <label for="firstName">שם פרטי </label>
                    <input id="firstName" pInputText formControlName="FirstName" />
                </div>
                <div class="form-item">
                    <label for="lastName">שם משפחה </label>
                    <input id="lastName" pInputText formControlName="LastName" />
                </div>
                <div class="form-item">
                    <label for="lastName">עסקי/פרטי </label>
                    <div class="form-group">
                        <p-radioButton value="p" formControlName="CustomerType" label="פרטי"></p-radioButton>
                        <p-radioButton value="b" formControlName="CustomerType" label="עסקי"
                            class="p-ml-3"></p-radioButton>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="form-item">
                    <label for="phone">מספר פלאפון </label>
                    <input id="phone" type="text" pInputText formControlName="Mobile" />
                </div>
                <div class="form-item">
                    <label for="email">כתובת דוא״ל</label>
                    <input id="email" type="email" pInputText formControlName="Email" />
                </div>
                <div class="form-item">
                    <label for="password">סיסמה </label>
                    <input id="password" type="password" pPassword formControlName="Password" />
                </div>
            </div>


            <div class="btnSubmit">
                <button class="button-primary">הרשמה</button>
            </div>
        </div>
    </form>
</div>
<!-- </p-card> -->