<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
<!-- <p-card dir="rtl" header="הוספת מסמכים " class="document-form"> -->
<div class="form">
    <!-- <div > -->
    <h2 class="form-title title">הוספת מסמכים </h2>
    <!-- </div> -->
    <p-card>
        <div class="document-details">
            <div class="form-group">
                <label> בחר סוג מסמך </label>
                <p-dropdown [options]="documentCodes" (onChange)="onDocumentTypeChange()"
                    [(ngModel)]="selectedDocumentCode" optionLabel="name" placeholder="בחר סוג מסמך"></p-dropdown>
            </div>

            <!-- <div class="form-group">
            <label>בחר מסמך </label>
            <p-fileUpload accept=".pdf,.tiff" name="myfile[]" [customUpload]="true" (onSelect)="onFileSelect($event)"
                [showUploadButton]="false" [showCancelButton]="false"></p-fileUpload>
        </div> -->
            <div class="form-group">
                <label>בחר קובץ </label>
                <label for="fileUpload" class="file-upload-label">
                    <input type="file" id="fileUpload" accept=".pdf,.tiff,.xls,.xlsx" (change)="onFileSelect($event)" />
                    <i class="pi pi-upload upload-icon"></i>
                    <span class="upload-text">בחר קובץ</span>
                </label>
            </div>

            <div>
                <button class="button-primary" pButton label="שמירה" (click)="saveDocuments()"></button>
            </div>
        </div>

        <!-- <div *ngIf="uploadedFiles.length > 0" class="file-list">
            <h4>מסמכים שהועלו</h4>

            <ul>
                <li *ngFor="let file of uploadedFiles; let i = index" class="file-item">
                    <span> <i [ngClass]="getFileIcon(file.name)"></i>{{ file.name }} </span>
                    <div class="icons">
                        <i (click)="removeFile(i)" class="pi pi-times"></i>
                        <i (click)="viewFile(i)" class="pi pi-eye"></i>                      
                    </div>
                </li>
            </ul>
        </div> -->
        <div *ngIf="Object.keys(uploadedFilesByType).length > 0" class="file-list">
            <h4>מסמכים שהועלו</h4>
    
            <div *ngFor="let type of Object.keys(uploadedFilesByType)">
                <h5>{{ getDocumentTypeName(type) }}</h5>
                <ul>
                    <li *ngFor="let file of uploadedFilesByType[type]; let i = index" class="file-item">
                        <span>
                            <i [ngClass]="getFileIcon(file.name)"></i>{{ file.name }}
                        </span>
                        <div class="icons">
                            <i (click)="removeFile(type, i)" class="pi pi-times"></i>
                            <i (click)="viewFile(file)" class="pi pi-eye"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <p-dialog header="צפייה במסמך" [(visible)]="displayDialog" [modal]="true"
            [style]="{width: '60vw', height: '70vh'}" [closable]="true">
            <iframe *ngIf="fileToView" [src]="fileToView" width="100%" height="100%"></iframe>
        </p-dialog>
        <!-- </div> -->

        <p-messages class="ui-ltr" dir="ltr" [(value)]="msgs1" [enableService]="false"></p-messages>
        <p-confirmDialog></p-confirmDialog>
        <!-- <p-table #dt [columns]="cols" [value]="documents" [(selection)]="selectedDocument" selectionMode="single"
        [paginator]="true" [rows]="8">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                
                <th>
                    מחק קובץ
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" [pSelectableRow]="rowData">
                    <ng-container *ngIf="col.field === 'FileName'; else codeContainer">
                        <a (click)="navigateToAddDocument(rowData)">{{ rowData[col.field] }}</a>
                    </ng-container>
                    <ng-template #codeContainer>
                        <ng-container *ngIf="col.field === 'Code'; else regularCol">
                            {{ getDocumentTypeName(rowData[col.field]) }}
                        </ng-container>
                    </ng-template>
                    <ng-template #regularCol>
                        {{ rowData[col.field] }}
                    </ng-template>
                </td>               
                <td>
                    <button [disabled]="rowData.Code == 'IL_279'" pButton pRipple type="button" label='מחק קובץ'
                        class="p-button-raised p-button-text" (click)="deleteDocument(rowData.Id)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                מספר שורות: {{documents ? documents.length : 0 }}

            </div>
        </ng-template>

    </p-table> -->
    </p-card>
    <div class="btns">
        <button class="button-primary" (click)="nextStep()"> המשך</button>
        <button class="button-secondary" (click)="previousStep()"> חזור</button>
    </div>
</div>
<!-- </p-card> -->