<div class="progress-spinner" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-card class="ui-rtl" dir="rtl">
  <div class="header">
    <h3>מסמכים</h3>
  </div>

  <p-messages
    class="ui-ltr"
    dir="ltr"
    [(value)]="msgs1"
    [enableService]="false"
  ></p-messages>

  <h4>צרופות נדרשות</h4>

  <div class="required-documents">
    <div class="required-document-row" *ngFor="let doc of requiredDocuments">
      <div class="required-document-main">
        <div class="required-document-title">
          {{ doc.name }}
          <span *ngIf="doc.required" class="required-badge">חובה</span>
          <span *ngIf="!doc.required" class="optional-badge">רשות</span>
        </div>

        <div
          class="required-document-status"
          [ngClass]="getRequiredDocumentStatusClass(doc)"
        >
          {{ getRequiredDocumentStatus(doc) }}
        </div>

        <div
          class="required-document-files"
          *ngIf="doc.pendingFiles.length > 0"
        >
          <ul>
            <li *ngFor="let file of doc.pendingFiles; let i = index">
              <a class="file-link" (click)="viewNewFile(file)">{{
                file.name
              }}</a>
              <button
                type="button"
                class="remove-file-btn"
                (click)="!isDocumentsLockedBySbt && removeFile(doc.code, i)"
                [disabled]="isDocumentsLockedBySbt"
              >
                הסר
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="required-document-actions">
        <button
          type="button"
          class="button-add-file"
          (click)="openFilePicker(doc.code)"
          [disabled]="isDocumentsLockedBySbt"
        >
          <i class="pi pi-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <input
    #hiddenFileInput
    type="file"
    hidden
    accept=".pdf,.xls,.xlsx,.jpg,.png"
    (change)="onRequiredFileSelect($event)"
  />

  <!-- טבלת מסמכים קיימים -->
  <p-table
    [value]="documents"
    [columns]="cols"
    [paginator]="true"
    [rows]="8"
    dir="rtl"
    class="ui-rtl"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
        <!-- <th>עדכן</th> -->
        <th>מחק</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.field === 'FileName'; else regular">
            <a class="file-link" (click)="viewExistingFile(rowData)">{{
              rowData[col.field]
            }}</a>
          </ng-container>
          <ng-template #regular>
            <ng-container *ngIf="col.field === 'Code'">
              {{ getDocumentTypeName(rowData[col.field]) }}
            </ng-container>
            <ng-container *ngIf="col.field !== 'Code'">
              {{ rowData[col.field] }}
            </ng-container>
          </ng-template>
        </td>
        <!-- <td>
                    <button pButton label="עדכן" (click)="editDocument(rowData)"></button>
                </td> -->
        <td>
          <button
            pButton
            label="מחק"
            (click)="deleteDocument(rowData.Id)"
            [disabled]="isDocumentsLockedBySbt"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        מספר שורות: {{ documents ? documents.length : 0 }}
      </div>
    </ng-template>
  </p-table>

  <hr />

  <!-- הוספת מסמך חדש -->
  <div class="add-document-row">
    <div class="add-document-side">
      <h4>הוספת מסמך חדש</h4>

      <div class="document-details">
        <div class="form-group">
          <label>סוג מסמך</label>
          <p-dropdown
            [options]="documentCodes"
            [(ngModel)]="selectedDocumentCode"
            optionLabel="name"
            placeholder="בחר סוג מסמך"
          ></p-dropdown>
        </div>

        <div class="form-group">
          <button
            class="button-add-file"
            (click)="fileInput.click()"
            [disabled]="isDocumentsLockedBySbt"
          >
            <i class="pi pi-plus"></i>
          </button>
          <input
            #fileInput
            type="file"
            hidden
            accept=".pdf,.xls,.xlsx,.jpg,.png"
            (change)="onFileSelect($event)"
          />
        </div>
      </div>
    </div>

    <div class="btns">
      <button
        class="button-primary"
        [disabled]="!canUpload() || isDocumentsLockedBySbt"
        (click)="saveDocument()"
      >
        שמור
      </button>
      <!-- <button class="button-secondary" (click)="goBack()">חזור</button> -->
      <span
        [pTooltip]="getSendToCustomsTooltip()"
        tooltipPosition="top"
        [tooltipDisabled]="canSendToCustoms() && !isDocumentsLockedBySbt"
        class="send-tooltip-wrapper"
      >
        <button
          pButton
          type="button"
          label="שלח למכס"
          icon="pi pi-send"
          class="p-button-success"
          (click)="sendDecToCustoms()"
          [disabled]="!canSendToCustoms() || isDocumentsLockedBySbt"
        ></button>
      </span>
      <button class="button-secondary" (click)="previousStep()">חזור</button>
    </div>
  </div>
  <!-- <div class="form-group">
        <label>סוג מסמך</label>
        <p-dropdown [options]="documentCodes" [(ngModel)]="selectedDocumentCode" optionLabel="name"
            placeholder="בחר סוג מסמך"></p-dropdown>
    </div> -->
  <!-- <div class="form-group">
        <button class="button-add-file" (click)="fileInput.click()">
            <i class="pi pi-plus"></i>
        </button>
        <input #fileInput type="file" hidden accept=".pdf,.xls,.xlsx,.jpg,.png" (change)="onFileSelect($event)" />
    </div> -->
  <!-- <div class="form-group">
        <label>בחר קובץ</label>
        <input type="file" accept=".pdf,.xls,.xlsx,.jpg,.png" (change)="onFileSelect($event)" />
    </div> -->

  <!-- רשימת קבצים חדשים -->
  <div *ngFor="let entry of uploadedFilesByType | keyvalue">
    <h5>{{ getDocumentTypeName(entry.key) }} (חדש)</h5>
    <ul>
      <li *ngFor="let file of entry.value; let i = index">
        <!-- <span>{{ file.name }}</span> -->
        <!-- <button (click)="removeFile(entry.key, i)">X</button> -->
        <!-- <button (click)="viewNewFile(file)">צפה</button> -->
        <a
          class="file-link"
          (click)="!isDocumentsLockedBySbt && viewNewFile(file)"
          [class.disabled-link]="isDocumentsLockedBySbt"
          >{{ file.name }}</a
        >
      </li>
    </ul>
  </div>

  <!-- <button class="button-primary" [disabled]="!canUpload()" (click)="saveDocument()">שמור מסמך</button> -->
  <!-- <div class="form-actions">
        <button class="button-secondary" (click)="goBack()"> חזור</button>

        <button class="button-primary" [disabled]="!canUpload()" (click)="saveDocument()">שמור</button>
    </div> -->
</p-card>

<p-dialog
  header="צפייה במסמך"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '60vw', height: '70vh' }"
>
  <iframe
    *ngIf="fileToView"
    [src]="fileToView"
    width="100%"
    height="100%"
  ></iframe>
</p-dialog>
