<div class="sidebar">
    <!-- <div class="sidebar-logo">
        <img src="assets/logo.png" alt="Logo" />
    </div> -->
    <ul class="sidebar-menu">
        <li>
            <a routerLink="/home-page" class="menu-item">
                <i class="pi pi-home"></i>
                <span>ראשי</span>
            </a>
        </li>
        <li>
            <a routerLink="/dec-query" class="menu-item">
                <i class="pi pi-user"></i>
                <span>הצהרות שלי</span>
            </a>
        </li>

        <li>
            <a (click)="restart()" routerLink="/declaration-main/dec-form" class="menu-item">
                <i class="pi pi-cog"></i>
                <span>הצהרה חדשה</span>
            </a>
        </li>

        <li>
            <a routerLink="/personal-details" [queryParams]="{ personalDetails: true }" class="menu-item">
                <i class="pi pi-user"></i>
                <span>פרטים אישיים </span>
            </a>
        </li>

        <li>
            <a href="https://www.gov.il/he/service/power-of-attorney" target="_blank" rel="noopener noreferrer"
                class="menu-item">
                <i class="pi pi-file-edit"></i>
                <span>יפוי כח</span>
            </a>
        </li>
    </ul>
    <div class="logout">
        <a (click)="logout()" class="menu-item">
            <i class="pi pi-sign-out"></i>
            <span>התנתקות</span>
        </a>
    </div>
</div>

<!-- <div class="steps">
    <p-steps [model]="steps" [(activeIndex)]="activeIndex"></p-steps>
</div> -->

<div class="progress-container">
    <div class="step" *ngFor="let step of steps; let i = index" [class.completed]="i <= activeIndex"
        [class.active]="i === activeIndex">
        <div class="s">
            <div class="icon-wrapper">
                <div class="circle"></div>
                <!-- <img [src]="step.icon" alt="icon" class="icon" /> -->
                <img [src]="i <= activeIndex ? step.activeIcon : step.icon" [class.active]="i === activeIndex" alt="icon" class="icon" />

            </div>

            <p>{{ step.label }}</p>
        </div>

        <div *ngIf="i < steps.length - 1" class="separator">
            <img src="assets/steps/dots.png" alt="separator" class="dots-icon" />
        </div>
    </div>
</div>
<router-outlet></router-outlet>