<div class="loading-overlay" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-card class="ui-rtl" dir="rtl">
  <div class="header">
    <h3>שאילתת ספר מכס</h3>
  </div>

  <p-messages
    class="ui-ltr"
    dir="ltr"
    [(value)]="msgs"
    [enableService]="false"
  ></p-messages>

  <div class="filters">
    <div class="form-group">
      <label>ספר מכס</label>
      <!-- <p-dropdown [options]="bookTypes" [(ngModel)]="bookTypeId" optionLabel="name" optionValue="id"
                (onChange)="onContextChanged()" placeholder="בחר" >
            </p-dropdown> -->
      <p-dropdown
        [options]="bookTypes"
        [(ngModel)]="bookTypeId"
        optionLabel="name"
        optionValue="id"
        placeholder="בחר"
        styleClass="book-type-dropdown"
        (onChange)="onContextChanged()"
      >
        <!-- ✅ מה שמוצג כשהדרופדאון סגור -->
        <ng-template pTemplate="selectedItem" let-item>
          <div class="book-row" [ngClass]="item?.color">
            {{ item?.name }}
          </div>
        </ng-template>

        <!-- ✅ מה שמוצג ברשימה שנפתחת -->
        <ng-template pTemplate="item" let-item>
          <div class="book-row" [ngClass]="item?.color">
            {{ item?.name }}
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="form-group wide">
      <label>חפש פרט מכס או ביטוי</label>
      <!-- <p-autoComplete
        [(ngModel)]="term"
        [suggestions]="suggestions"
        (completeMethod)="onSearch($event)"
        [minLength]="4"
        field="FullClassification"
        placeholder="הקלד לפחות 4 תווים..."
        (onSelect)="onPick($event.value)"
      >
        <ng-template let-item pTemplate="item">
          <div class="ac-main">{{ item.FullClassification }}</div>
          <div class="ac-sub">{{ item.GoodsDescription }}</div>
        </ng-template>
      </p-autoComplete> -->
      <input
        pInputText
        type="text"
        class="search-input"
        [(ngModel)]="term"
        (ngModelChange)="onTermChange($event)"
        placeholder="הקלד לפחות 3 תווים..."
      />
    </div>
  </div>

  <!-- תוצאות מתחת לשדות (כמו באפיון) -->
  <!-- <div class="results-panel full" *ngIf="term?.trim().length >= 4"> -->
  <div class="results-panel full" *ngIf="(term || '').trim().length >= 3 &&  !selectedItem">
    <div class="results-title" *ngIf="suggestions?.length">תוצאות</div>

    <div
      class="results-empty"
      *ngIf="!loading && (!suggestions || suggestions.length === 0)"
    >
      לא נמצאו תוצאות.
    </div>

    <div class="results-list" *ngIf="suggestions?.length">
      <button
        type="button"
        class="result-row"
        *ngFor="let item of suggestions"
        (click)="onPick(item)"
      >
        <div class="result-top">
          <!-- צבעוניות במספר -->
          <div
            class="fc"
            [innerHTML]="formatClassification(item.FullClassification)"
          ></div>
        </div>

        <!-- הדגשת מילת חיפוש בתוך התיאור -->
        <div
          class="result-sub"
          [innerHTML]="highlight(item.GoodsDescription, term || '')"
        ></div>
      </button>
    </div>
  </div>
  <!-- </div>
  </div> -->
  <!-- <button pButton type="button" label="הדמיה" (click)="loadMock()"></button> -->

  <ng-container *ngIf="details; else emptyState">
    <h4 class="title">
      פרט מכס: {{ details.FullClassification }} – {{ details.GoodsDescription }}
    </h4>

    <div class="kv">
      <div><b>ספר מכס:</b> {{ details.CustomsBookTypeName }}</div>
      <div><b>חלק:</b> {{ details.PartDescription }}</div>
      <div><b>פרק:</b> {{ details.ChapterDescription }}</div>
      <div><b>יחידת מידה:</b> {{ details.MeasurementUnitName }}</div>
    </div>

    <hr />

    <div class="law-header">
      <h4>חוקיות יבוא</h4>
      <div class="law-buttons" dir="ltr">
        <button
          pButton
          type="button"
          label="הכל"
          (click)="setLawFilter('all')"
          [class.active]="lawFilter === 'all'"
        ></button>
        <button
          pButton
          type="button"
          label="אישי"
          (click)="setLawFilter('personal')"
          [class.active]="lawFilter === 'personal'"
        ></button>
        <button
          pButton
          type="button"
          label="מסחרי"
          (click)="setLawFilter('commercial')"
          [class.active]="lawFilter === 'commercial'"
        ></button>
      </div>
    </div>

    <p-table
      [value]="details.Regularities"
      [paginator]="true"
      [rows]="8"
      dir="rtl"
      class="ui-rtl"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>תאריך התחלה</th>
          <th>תאריך סיום</th>
          <th>מקור דרישת חוקיות</th>
          <th>תיאור טובין בדרישת חוקיות</th>
          <th>סוג רישיון/אישור</th>
          <th>גורם מאשר</th>
          <th>תיאור תנאים</th>
          <th>מספר תקן רשמי</th>
          <th>פרסום</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-r>
        <tr>
          <td>{{ fmtDate(r.StartDate) }}</td>
          <td>{{ fmtDate(r.EndDate) }}</td>
          <td>{{ r.RegularitySourceName }}</td>
          <td>{{ r.RequirementGoodsDescription }}</td>
          <td>{{ r.ConfirmationTypeName }}</td>
          <td>{{ r.AuthorityName }}</td>
          <td>{{ r.TextualCondition }}</td>
          <td>{{ r.TrNumber }}</td>
          <td>{{ r.RegularityPublicationName }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="empty">
        <div class="empty">לא נמצאו דרישות חוקיות.</div>
      </ng-template>
    </p-table>

    <hr />

    <h4>מכס (בהסכמי סחר ומכסות)</h4>

    <p-table
      [value]="details.Tariffs"
      [paginator]="true"
      [rows]="8"
      dir="rtl"
      class="ui-rtl"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>הסכם</th>
          <th>מכסה</th>
          <th>מכס (ללא מכסה)</th>
          <th>תמ״א (ללא מכסה)</th>
          <th>מכס (במכסה)</th>
          <th>תמ״א (במכסה)</th>
          <th>תחילה</th>
          <th>סיום</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-t>
        <tr>
          <td>{{ t.TradeAgreementTitle }}</td>
          <td>{{ t.QuotaTitle }}</td>
          <td>{{ t.WithoutQuota_CalculationReference }}</td>
          <td>{{ t.WithoutQuota_OptionalTaxAddition }}</td>
          <td>{{ t.WithinQuota_CalculationReference }}</td>
          <td>{{ t.WithinQuota_OptionalTaxAddition }}</td>
          <td>{{ fmtDate(t.StartDate) }}</td>
          <td>{{ fmtDate(t.EndDate) }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="empty">
        <div class="empty">לא נמצאו תעריפים.</div>
      </ng-template>
    </p-table> 
  </ng-container>

  <ng-template #emptyState>
    <div class="empty big">
      הקלד לפחות 3 תווים ובחר פרט מכס כדי לראות פרטים.
    </div>
  </ng-template>
</p-card>
