<div class="overlay-spinner" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="login-container">
  <div class="login-form">
    <h2>איפוס סיסמה</h2>

    <p-messages
      class="ui-ltr"
      dir="ltr"
      [(value)]="msg"
      [enableService]="false"
    ></p-messages>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <div class="form-item password-wrapper">
          <label>סיסמה חדשה</label>
          <small
            class="password-requirements"
            *ngIf="!form.get('NewPassword')?.value"
          >
            הסיסמה חייבת להכיל: 8 תווים לפחות, אות באנגלית, ספרה ותו מיוחד
          </small>
          <input pPassword [feedback]="false" formControlName="NewPassword" />
          <small
            class="error"
            *ngIf="
              form.get('NewPassword')?.invalid &&
              (form.get('NewPassword')?.dirty ||
                form.get('NewPassword')?.touched)
            "
          >
            {{ getPasswordError("NewPassword") }}
          </small>
        </div>

        <div class="form-item password-wrapper">
          <label>אימות סיסמה</label>
          <input
            pPassword
            [feedback]="false"
            formControlName="ConfirmPassword"
          />
          <!-- <small
            class="error"
            *ngIf="
              form.get('NewPassword')?.invalid &&
              (form.get('NewPassword')?.dirty ||
                form.get('NewPassword')?.touched)
            "
          >
            {{ getPasswordError("ConfirmPassword") }}
          </small> -->
          <small
            class="error"
            *ngIf="
              (form.get('ConfirmPassword')?.dirty ||
                form.get('ConfirmPassword')?.touched) &&
              form.hasError('passwordsMismatch')
            "
          >
            הסיסמאות לא תואמות
          </small>
        </div>
      </div>

      <div class="btnSubmit">
        <button type="submit" class="button-primary">איפוס סיסמה</button>
        <button type="button" (click)="backToLogin()" class="button-primary">
          חזרה להתחברות
        </button>
      </div>
    </form>
  </div>

  <div class="left-side">
    <img src="assets/box.png" alt="box" class="box" />
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </div>
</div>
